body {
  background: #ffe6e5;
  color: #ffe6e5;
  text-align: center;
}

@font-face {
  font-family: 'Gotham Light';
  src: url('../fonts/gothamlight.otf');
}

.frogify {
  font-family: 'Gotham Light', serif;
  color: black;
}